{% extends 'base.html.twig' %}

{% block title %}Stage Index{% endblock %}
{% block tilteH1 %}
    <h1 class="text-center">
        <a href="{{ path('app_home') }}" class="text-white text-decoration-none">Gestion des Stages</a>
    </h1>
{% endblock %}
{% block body %}
    <div class="container py-5">
        <div class="row">
            {% set currentDate = "now"|date("Y-m-d") %}
            {% set filteredStages = stages|filter(stage => stage.dateDebut and stage.dateDebut|date("Y-m-d") > currentDate) %}
            
            {% for stage in filteredStages %}
                <div class="col-md-4 mb-4">
                    <div class="card shadow-lg border-light">
                        <div class="card-body">
                            <h5 class="card-title text-primary">{{ stage.libelle }}</h5>
                            <p class="card-text"><strong>Code:</strong> {{ stage.code }}</p>
                            <p class="card-text"><strong>Date de début:</strong> {{ stage.dateDebut ? stage.dateDebut|date('d/m/Y') : 'Non définie' }}</p>
                            
                           
                            {% if not app.user.stagiaire.stages.contains(stage) %}
                                <a href="{{ path('app_stage_register', {'id': stage.id}) }}" class="btn btn-primary">S'inscrire</a>
                            {% else %}
                                <button class="btn btn-secondary" disabled>Déjà inscrit</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12">
                    <div class="alert alert-warning text-center" role="alert">
                        Aucun stage trouvé.
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
